@import "compass/reset";

html{
  text-align: center;
  display: table;
  height: 100%;
  width: 100%;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.twitter{
  font-family: 'Kaushan Script', cursive;
  font-size: 8em;
  color: #c00;
  &:hover{
    color: red;
  }
}

a{
  text-decoration: none;
  span{
    text-decoration: underline;
  }
  &:hover{
    span{
      text-decoration: none;
    }
  }
}
//
//
//
// @media only screen and (max-width: 500px) {
//   h1{
//     font-size: 8em;
//   }
// }
